<%- include('./partials/header.ejs') %> 
<%- include('./partials/navbar.ejs') %>

<div class="container">
    Detalhes
    <label>Title</label>
    <label><%= ask.title %></label>
    <label>Description</label>
    <label><%= ask.description %></label>
<% %>
</div>

<%- include('./partials/footer.ejs') %>
