<!-- Include header -->
<%- include('./partials/header.ejs') %> 
<!-- Include navbar -->
<%- include('./partials/navbar.ejs') %>

<div class="container mt-4">
    <h1># Question Guide #</h1>
    <a href="/ask" class="btn btn-primary">Questions page</a>
</div>
<div class="container">
    <% ask.forEach((value)=>{ %>
    <div class="card mt-4">
        <div class="card-body">
            <h4><%= value.title %></h4>
        </div>
        <div class="card-footer">
            <a href="/details/<%= value.id %>" class="btn btn-primary">Details</a>
        </div>
    </div>
    <% }) %>
</div>
<%- include('./partials/footer.ejs') %>
